# -------------------------
# Flutter / Dart
# -------------------------
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
coverage/
pubspec.lock

# -------------------------
# IDEs / Configuración local
# -------------------------
.idea/
.vscode/
*.iml

# -------------------------
# macOS / Xcode
# -------------------------
.DS_Store
ios/Flutter/Flutter.podspec
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner.xcworkspace/
macos/Pods/
macos/Runner.xcworkspace/

# -------------------------
# Android / Gradle
# -------------------------
.android/
.gradle/
**/local.properties

# -------------------------
# Flutter SDK local (no debe versionarse)
# -------------------------
flutter/
